*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 1 rem = 10px*/
  font-size: 62.5%;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.container {
  max-width: 96rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin: auto;
  text-align: center;
}

#navbar {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
/*  nav satu lagi */
#myNav {
  display: none;
}

#span-nav {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 3rem;
  font-size: 3.8rem;
  display: none;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 3rem;
}

.overlay a {
  padding: 0.8rem;
  text-decoration: none;
  font-size: 3.6rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 2rem;
  right: 4.5rem;
  font-size: 6rem;
}

@media screen and (max-height: 500px) {
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 2rem;
  }
  .overlay .closebtn {
    font-size: 4rem;
    top: 1.5rem;
    right: 3.5rem;
  }
}
@media screen and (min-width: 1100px) {
  #span-nav {
    display: none !important;
  }
}
/*  nav satu lagi */

.navbar-container {
  max-width: 120rem;
  margin: 0 auto;
  padding-top: 2rem;
}

.navbar-container a {
  text-decoration: none;
  padding: 0 2rem;
  color: white;
  font-size: 2.4rem;
  text-shadow: 0.2rem 0.2rem 0.8rem #000000;
}

.header__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header__video video {
  width: 100%;
  height: auto;
}

.header-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00000086;
}

.header__logo-box {
  position: absolute;
  top: 2rem;
  left: 4rem;
  z-index: 2;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem 0.3rem #000000;
}
.header_span1 {
  font-weight: bold;
}
.header_span2 {
  color: red;
  font-weight: bold;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: rgba(255, 255, 255, 0.452);
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  animation: moveInLeft 1s ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 1.64rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  animation: moveInRight 1s ease-out;
}

.header_speaker {
  padding-bottom: 2rem;
}

.show {
  display: unset !important;
}

.hide {
  display: none;
}

.speaker_on {
  width: 3.2rem;
}

.speaker_off {
  width: 3.3rem;
  display: none;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.btn:active {
  transform: translateY(-0.1rem);
}

.btn--white {
  background-color: rgba(255, 255, 255, 0.171);
  color: rgb(48, 48, 48);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--white::after {
  background-color: rgba(255, 255, 255, 0.37);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

#scroll_mouse a span {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 3.7rem;
  height: 6rem;
  margin-left: -1.5rem;
  border: 0.2rem solid rgba(255, 255, 255, 0.664);
  border-radius: 5rem;
}

#scroll_mouse a span::before {
  position: absolute;
  top: 1rem;
  left: 47%;
  content: "";
  width: 1rem;
  height: 1rem;
  margin-left: -0.3rem;
  background-color: rgba(255, 255, 255, 0.664);
  border-radius: 100%;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  80% {
    -webkit-transform: translate(0, 2rem);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.country_container {
  width: 100%;
  margin: 1.2rem auto;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.country_warp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.country_top5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.top5 {
  font-size: 4rem;
  color: black;
}
.infeksion {
  font-size: 2rem;
  color: black;
}

.img-bendera {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.img-bendera img {
  width: 10rem;

  align-items: center;
  margin: 0 3rem;
}

.tulisan_infeksi {
  font-size: 1.7rem;
  color: black;
}

.container-about {
  width: 100%;
  /* background-color: #777; */
  background-image: linear-gradient(
      to right bottom,
      rgba(213, 111, 111, 0.8),
      rgba(180, 40, 40, 0.8)
    ),
    url(/assets/gambar/coronavirus-bg.jpg);
  background-size: cover;
  background-position: top;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

#about {
  display: flex;
}

.tulisan {
  color: white;
  padding-top: 3.5rem;
}

.span_about {
  font-size: 5.5rem;
}

.tulisan p {
  padding-top: 1rem;
  padding-right: 5rem;
  font-size: 2rem;
  font-weight: 400;
  width: 100%;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: "Show more";
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: "Show less";
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 0.5em;
  margin-top: 1.3rem;
  color: #666;
  line-height: 2;
  border: 0.1rem solid #ddd;
  border-radius: 0.25em;
  background-color: #fff;
  font-size: 1.52rem;
}

.card {
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-top: 7rem;
}

.container-content {
  display: flex;
  padding-left: 1.5rem;
  width: 100%;
  margin-bottom: 2rem;
}
#news {
  width: 75%;
}
.news_h2 {
  font-size: 5rem;
  border-bottom: 0.1rem solid rgba(119, 119, 119, 0.541);
}
#news .text1 {
  padding-top: 4rem;
  font-size: 2.2rem;
}

.box {
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-top: 4rem;
  width: 50%;
  height: 15%;
  cursor: pointer;
}
main {
  height: auto;
}

.box {
  text-decoration: none;
}

.box:hover {
  text-decoration: underline;
}

.box a:link,
.box a:visited {
  color: black;
}

.title-box {
  font-size: 1.9rem;
  padding-left: 2rem;
  padding-top: 2.5rem;
}

.sub-title-box {
  font-size: 3.1rem;
  font-weight: bold;
  padding-left: 2rem;
  padding-top: 1rem;
  color: #000000;
}

.news2_h2 {
  padding-top: 4rem;
  font-size: 5rem;
  border-bottom: 0.1rem solid rgba(119, 119, 119, 0.541);
}

.news3_h2 {
  padding-top: 3.5rem;
  font-size: 4rem;
  border-bottom: 0.1rem solid rgba(119, 119, 119, 0.541);
}

.container-content iframe {
  width: 80rem;
  height: 60rem;
  justify-content: center;
}

.text2 {
  font-size: 2.2rem;
}
.embeded-youtube iframe {
  width: 100%;
  height: 70rem;
  margin-top: 2.5rem;
  padding-bottom: 11rem;
}

aside {
  width: 25%;
  padding: 0 2rem;
}

.profile {
  font-size: 1.5rem;
}
.profile img {
  width: 100%;
}
.profile p {
  padding: 1.2rem 0;
  text-align: center;
}

.profile figcaption {
  display: flex;
  justify-content: center;
  padding: 1.2rem 0;
}
.profile h2 {
  text-align: center;
}
.profile h3 {
  padding-bottom: 1.4rem;
  text-align: center;
}
.profile th,
td {
  padding: 0.5rem 0;
}

.biodata {
  text-align: left;
  width: 100%;
}
.biodata td,
th {
  width: 50%;
  text-align: left;
  font-size: 1.61rem;
}
.img-biodata {
  text-align: center;
  padding-top: 1.8rem;
}
.img-biodata a {
  text-align: center;
  padding: 0 2rem;
}
.img-biodata img {
  width: 18%;
  flex-wrap: wrap;
}

footer {
  width: 100%;
  padding: 2rem;
  color: white;
  background-color: #00a2c6;
  text-align: center;
  font-weight: bold;
  background-position: bottom;
  font-size: 2rem;
}
@media only screen and (max-width: 768px) {
  .img-bendera img {
    width: 7%;
  }
  .card {
    padding: 1rem;
  }
  aside {
    width: 32%;
  }
  .box {
    width: unset;
    height: unset;
  }
}
/*  screen ipad pro */
@media only screen and (max-width: 1024px) {
  .header_span1,
  .header_span2 {
    font-size: 3.5rem;
  }

  .country_warp {
    display: flex;
    flex-direction: column;
  }
  .img-bendera img {
    margin: 1rem 1.35rem;
  }
  .img-bendera {
    padding-right: 0.5rem;
  }
  .header__video video {
    width: unset;
    height: 100%;
    margin-left: -63rem;
  }
  .heading-primary--main {
    font-size: 6rem;
    letter-spacing: 3.25rem;
  }
  .heading-primary--sub {
    font-size: 2rem;
    letter-spacing: 1rem;
  }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .image-about img {
    width: 45rem;
  }
  .news_h2 {
    font-size: 3.5rem;
  }
  .news2_h2 {
    font-size: 3.5rem;
  }
  .news3_h2 {
    font-size: 3.2rem;
  }
  .tulisan {
    padding-bottom: 8rem;
  }
  #navbar a {
    display: none;
  }
  #myNav {
    display: unset;
    z-index: 4;
  }
  #span-nav {
    display: block;
    font-size: 5.6rem;
  }
  .span-nav-hide {
    display: none;
  }
  .span-nav-on {
    display: block;
  }

  .biodata {
    text-align: left;
    width: 100%;
  }
  .biodata td,
  th {
    width: 50%;
    text-align: left;
    font-size: 1.3rem;
  }
  .img-biodata {
    text-align: center;
    padding-top: 1.8rem;
  }
  .img-biodata a {
    text-align: center;
    padding: 0 1rem;
  }
  .img-biodata img {
    width: 17.5%;
    flex-wrap: wrap;
  }
  footer {
    margin-top: 4rem;
  }
}
/*  screen ipad pro */

/*  screen iphone 6/7/8/10(x) */

@media only screen and (max-width: 600px) {
  .header_span1,
  .header_span2 {
    font-size: 1.9rem;
  }
  #span-nav {
    font-size: 3.5rem;
    padding-top: 0.6rem;
  }
  .container-content {
    flex-direction: column;
    padding-right: 1.5rem;
    margin-top: -7rem;
  }

  #news {
    width: 100%;
  }
  .image-about img {
    width: 60%;
    padding-top: 4rem;
  }
  #about {
    display: flex;
    flex-direction: column;
  }
  .image-about {
    margin: 0 auto;
    text-align: center;
  }
  .tulisan {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-top: unset;
  }
  .tulisan p {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  p.read-more-wrap {
    padding-right: unset;
  }
  .container-about {
    height: 100%;
    padding-bottom: 2rem;
  }
  .header__video video {
    width: unset;
    height: 100%;
    margin-left: -39rem;
  }
  .heading-primary--main {
    font-size: 3.5rem;
    letter-spacing: 1.2rem;
  }
  .heading-primary--sub {
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
  }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .btn:link,
  .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1rem;
  }
  .speaker_on {
    width: 2.45rem;
  }
  .speaker_off {
    width: 2.64rem;
    display: none;
  }
  #scroll_mouse a span {
    position: absolute;
    top: 86%;
    left: 50%;
    width: 3.56rem;
    height: 6rem;
    margin-left: -15px;
    border: 0.2rem solid rgba(255, 255, 255, 0.664);
    border-radius: 5rem;
  }
  .country_container {
    margin: 4.5rem auto;
    width: 100%;
  }
  .box {
    width: unset;
    height: unset;
  }
  aside {
    width: unset;
    padding: unset;
    margin-top: -8rem;
    margin-bottom: 2.8rem;
  }
  footer {
    padding: 20px;
    color: white;
    background-color: #c21010cc;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
  }
  .news_h2 {
    font-size: 3rem;
  }
  #news .text1 {
    font-size: 2rem;
  }
  .news2_h2 {
    font-size: 3rem;
  }
  .news3_h2 {
    font-size: 2.8rem;
  }
  .embeded-youtube iframe {
    height: 27rem;
    padding-bottom: unset;
  }
  .biodata table {
    margin-left: 3.4rem;
  }
  /* #span-nav {
    position: fixed;
  } */
}

@media only screen and (max-width: 600px) {
  .img-bendera {
    flex-direction: column;
  }
  .img-bendera img {
    width: 30%;
  }
  .country_warp {
    flex-direction: column;
    /* height: 88vh; */
    height: 100%;
  }
  .img-bendera img span {
    padding: 2rem;
  }
}

/*  screen iphone 6/7/8 */
